<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>customId</key>
		<integer>1</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>推荐</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>2</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>最新</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>3</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>最热</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>1</integer>
		<key>catName</key>
		<string>IT互联网</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>11</integer>
		<key>catName</key>
		<string>设计</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>22</integer>
		<key>catName</key>
		<string>市场</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>27</integer>
		<key>catName</key>
		<string>校园创业</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>32</integer>
		<key>catName</key>
		<string>校园生活创意</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>37</integer>
		<key>catName</key>
		<string>公益</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>41</integer>
		<key>catName</key>
		<string>比赛</string>
	</dict>
</array>
</plist>
