<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>customId</key>
		<integer>1</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>推荐</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>2</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>热门</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>3</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>最新</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>4</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>同校</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>2</integer>
		<key>catName</key>
		<string>计算机</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>3</integer>
		<key>catName</key>
		<string>平面设计</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>机械设计</string>
	</dict>
	<dict>
		<key>customId</key>
		<integer>0</integer>
		<key>categoryId</key>
		<integer>0</integer>
		<key>catName</key>
		<string>材料</string>
	</dict>
</array>
</plist>
